:root{
 --accent-color: #8672ff;
 --base-color: white;
 --text-color: #2e2841;
 --input-color: #f3f0ff;
}
.{
  margin: 0;
  padding: 0;
}
html{
  font-family: Arial;
  font-size: 15pt;
  text-align: center;
  color: var(--text-color);
  
}
body{
  min-height: 100vh ;
  background-image: url('/hiro/Kakashi.png');
  overflow: hidden;
  background-position: cover;
  background-position: right;
}
.wrapper{
  box-sizing: border-box;
  background-color: var(--base-color);
  height:50vh;
  width: 0
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
form{
  width: min(400px, 300%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
form > div{
  
}
.form label{
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
}

